@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    color: black;
    margin: 0px;
    padding:2px;
    text-decoration: none;
    font-family: 'SF Pro Display', sans-serif;
}
body{background: url(https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;}

header{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header{display: flex; gap: 10vh; color: white;}
.footer{background-color: white; margin-bottom: 0vh; opacity: 70%; border-radius: 20px;}
.brand{display: flex; list-style: none; gap: 5vh; margin-top: 4vh; font-size: 25px; margin-left: 17vh; margin-bottom: 5vh;}
h4{color: white;} h3{font-size: 25px; margin-left: 2vh;}
h1{font-family: 'Playfair Display', serif; font-weight: bolder;}
.t1, .t2{font-family: 'Playfair Display', serif; text-align: center;}
.box{display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20vh 1vh;}
.t2{color: white;}
@media (max-width: 480px) {
.header{display: flex; gap: 1vh;}
h4{font-weight: lighter;}
.t1, .t2{text-align: left; font-size: 15px;}

.brand{
    margin: 0vh;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
}





